.progress-graph-example {
  position: relative;
  height: 3000px;
  display: flex;
  align-items: flex-start;

  .progress-graph {
    margin-top: 3rem;
    width: 400px;
  }

  .mutations {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;

    pre {
      cursor: pointer;
      
      &.active {
        -webkit-box-shadow: 0 0 10px 10px var(--secondary-color);
        -moz-box-shadow: 0 0 10px 10px var(--secondary-color);
        box-shadow: 0 0 10px 10px var(--secondary-color);
      }
    }
  }
}
