.progress-graph-example {
  position: relative;
  height: 3000px;
  display: flex;
  align-items: flex-start;

  .progress-graph {
    width: 400px;
  }

  .mutations {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;
  }
}
