$show-home-image: true;
$home-image: url("../img/background.jpg");
$transition-duration: 0.5s;

@mixin easeOut {
  transition: all $transition-duration ease-out;
}

@mixin easeIn {
  transition: all $transition-duration ease-in;
}

@mixin linear {
  transition: all $transition-duration linear;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }
  @return #fff;
}

@mixin background {
  @if $show-home-image {
    &#bg-img,
    #bg-img {
      &::after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: $home-image center center fixed;
      }
    }
  }
}

@mixin fade {
  .fade {
    &-enter {
      opacity: 0.01;
    }

    &-enter-active {
      opacity: 1;
      @include easeIn;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0.01;
      @include easeIn;
    }
  }
}
